@using Oje.Infrastructure.Services
@{
    Layout = null;
}

<style>
    .termsTitle {
        font-size: 1.5em;
        font-weight: bold;
    }

    .termsSubTitle {
        padding-top: 20px;
        font-weight: bold;
    }
</style>

<div>
    <div class="termsTitle">قوانین حاکم برای تکمیل فرم پیشنهاد و درخواست صدور بیمه نامه</div>
    <div class="termsSubTitle">
        شرایط بیمه گذار و بیمه شده تبعی:
    </div>
    <div style="padding-bottom:20px;padding-top:10px;">
        @{
            if (!string.IsNullOrEmpty(ViewBag.HtmlTemplate))
            {
                <div>
                    @{
                        ViewContext.Writer.Write((ViewBag.HtmlTemplate + "").Replace("{{date}}", DateTime.Now.ToFaDate()).Replace("{{time}}", DateTime.Now.ToString("HH:mm")));
                    }
                </div>
            }
            else
            {
                <div>
                    اینجانب <span style="color:red;">{{firstName}} {{lastName}}</span> با کد ملی <span style="color:red;">{{nationalCode}}</span> بعنوان متقاضی (بیمه گذار) کلیه مفاد و <span style="color:red;"> شرایط عمومی بیمه نامه را در مورخ @(DateTime.Now.ToFaDate()) در ساعت @(DateTime.Now.ToString("HH:mm")) مطالعه نموده</span> و به کلیه سوالات با صداقت پاسخ داده و اطلاع دارم که هرگونه اظهار خلاف واقع به موجب قانون باعث ابطال قرارداد شده و ضمن اطلاع کامل از حدود تعهدات خود و بیمه گر تقاضای صدور آن را را دارم.
                </div>
            }
        }
    </div>
    <div>
        <div>
            @{
                if (!string.IsNullOrEmpty(ViewBag.RulesFile))
                {
                    <div class="form-check form-switch myCtrl"><input class="form-check-input" data-validation-required="true" data-validation-required-msg="لطفا شرایط عمومی قرارداد را مطالعه کرده و انتخاب کنید" type="checkbox" id="id_e5b2c52b82d9-46eb"><label style="padding-right:20px;" class="form-check-label" for="id_e5b2c52b82d9-46eb"><a title="شرایط عمومی بیمه نامه" target="_blank" href="@(Oje.Infrastructure.GlobalConfig.FileAccessHandlerUrl)@ViewBag.RulesFile">شرایط عمومی بیمه نامه</a> را مطالعه نموده و قبول دارم</label></div>
                }
            }
        </div>
        <div>
            @{
                if (!string.IsNullOrEmpty(ViewBag.ContractFile))
                {
                    <div class="form-check form-switch myCtrl"><input data-validation-required="true" data-validation-required-msg="لطفا متن قرارداد را مطالعه کرده و انتخاب کنید" class="form-check-input" type="checkbox" id="id_e5b2c520a2b"><label style="padding-right:20px;" class="form-check-label" for="id_e5b2c520a2b"><a title="متن قرارداد بیمه نامه" target="_blank" href="@(Oje.Infrastructure.GlobalConfig.FileAccessHandlerUrl)@ViewBag.ContractFile">متن قرارداد بیمه نامه</a> را مطالعه نموده و قبول دارم</label></div>
                }
            }
        </div>
    </div>
</div>
