.mainBox {
    width: 98%;
    padding: 15px;
    margin-left: auto;
    margin-right: auto;
    background-color: white;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
}

.loaderPanel {
    position: absolute;
    left: 0px;
    right: 0px;
    width: 100%;
    height: 100%;
    bottom: 0px;
    top: 0px;
    background-color: rgba(255,255,255,0.5);
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    z-index: 4;
}

.loader {
    border: 16px solid #f3f3f3;
    border-top: 16px solid #3498db; /* Blue */
    border-radius: 50%;
    width: 120px;
    height: 120px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

.confirmDialogBG {
    position: fixed;
    background-color: rgba(0,0,0,0.3);
    left: 0px;
    top: 0px;
    height: 100vh;
    width: 100vw;
    z-index: 999;
}

    .confirmDialogBG .dialogBox {
        margin-top: 25vh;
        position: fixed;
        width: 300px;
        text-align: right;
        direction: rtl;
        background-color: white;
        padding: 10px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #727171;
        right: 50vw;
        margin-right: -150px;
    }

        .confirmDialogBG .dialogBox .dialogBoxTitle {
            font-weight: bold;
            font-size: 14pt;
            border-bottom: 1px solid black;
        }

        .confirmDialogBG .dialogBox .confirmDialogAction {
            text-align: left;
            direction: ltr;
        }

textarea {
    min-height: 150px;
    resize: none;
}

.dialogBoxBody > p {
    margin-top: 0.5rem !important;
    margin-right: 3px;
}

.radioButtonNew > label {
    cursor: pointer;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    display: inline-block;
    width: 21px;
    height: 21px;
    border: 1px solid silver;
    position: relative;
    margin-bottom: 0px;
}

    .radioButtonNew > label:hover {
        border-color: #037ce2;
    }

input[type=radio]:checked + label::after {
    content: ' ';
    position: absolute;
    left: 5px;
    top: 5px;
    width: 9px;
    height: 9px;
    background-color: #037ce2;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.fixAProblem {
    display: inline-block;
    margin-left: 10px;
    padding-top: 10px;
}

    .fixAProblem > * {
        display: inline-block;
        vertical-align: top;
        margin-left: 3px;
        margin-right: 3px;
    }

.radioButtonNew {
    position: relative;
    display: inline-block;
    overflow: hidden;
}

    .radioButtonNew > input {
        position: absolute;
        top: -200px;
        right: -200px;
    }

.tokenBoxItem {
    border: 1px solid silver;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin: 5px;
    display: inline-block;
    padding: 4px;
    padding-right: 5px;
    padding-left: 5px;
    -moz-transition: max-height 0.3s, max-width 0.3s, border 0.3s, padding 0.3s;
    -o-transition: max-height 0.3s, max-width 0.3s, border 0.3s, padding 0.3s;
    -webkit-transition: max-height 0.3s, max-width 0.3s, border 0.3s, padding 0.3s;
    transition: max-height 0.3s, max-width 0.3s, border 0.3s, padding 0.3s;
    overflow: hidden;
    max-width: 1000px;
    max-height: 1000px;
}

.ziroHeight {
    padding: 0px;
    border: 1px solid white;
    max-width: 0px;
    max-height: 0px;
}

.tokenBoxItemRemoveIcon {
    display: inline-block;
}

    .tokenBoxItemRemoveIcon > i {
        cursor: pointer;
        vertical-align: 0px;
        margin-right: 5px;
        display: inline-block;
        color: red;
    }

.captchaCTRL {
    display: inline-block;
    border: 1px solid #ced4da;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    overflow: hidden;
    position: relative;
    width: 100%;
}

    .captchaCTRL input {
        border: none;
        line-height: 36px;
        text-align: center;
        width: calc( 100% - 39px);
        border-top: 1px solid #ced4da;
        outline: none !important;
    }

    .captchaCTRL span {
        height: 39px;
        width: 39px;
        border-left: 1px solid #ced4da;
        border-top: 1px solid #ced4da;
        text-align: center;
        line-height: 36px;
        font-size: 20px;
        cursor: pointer;
        display: inline-block;
    }

.MainHolder {
    margin: 4px;
    padding: 8px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    background-color: white;
    -webkit-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
    -moz-box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
    box-shadow: 0px 0px 3px 0px rgba(0,0,0,0.45);
}

.icon-arrow-right::after {
    content: '>';
}

.icon-arrow-left::after {
    content: '<';
}

.select2-selection__rendered {
    line-height: 36px !important;
    direction: rtl;
}

.select2-selection {
    height: 38px !important;
    border: 1px solid #ced4da !important;
}

.select2-selection__arrow {
    height: 36px !important;
}

.ck-editor__editable_inline {
    height: 40vh;
    overflow-y: scroll;
}

.modal {
    z-index: 999 !important;
}

.modal-backdrop {
    z-index: 998 !important;
}

select[size] {
    height: 36px !important;
    -moz-transition: height 0.2s,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    -o-transition: height 0.2s,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    -webkit-transition: height 0.2s,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
    transition: height 0.2s,border-color .15s ease-in-out,box-shadow .15s ease-in-out !important;
}

    select[size].makeBigger {
        height: 300px !important;
    }

input[type=radio]:checked + label::after {
    left: auto;
    right: -14px;
    top: 6px;
}

input[type=radio] + label {
    margin-right: 3px;
}

input[type=radio] + label, input[type=radio] {
    cursor: pointer;
}

.form-check {
    padding-top: 8px;
    padding-bottom: 3px;
}

input[type=checkbox] + label, input[type=checkbox] {
    cursor: pointer;
}

.holderImageGalleryItem {
    display: inline-block;
    margin: 2px;
    padding: 5px;
    border: 1px solid silver;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
}

    .holderImageGalleryItem > div.hidderImage {
        display: inline-block;
        width: 150px;
        height: 150px;
        overflow: hidden;
    }

    .holderImageGalleryItem img {
        display: block;
        width: 100%;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

.plaqueCtrl {
    white-space: nowrap;
    border: 1px solid #a0a0a0;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    overflow: hidden;
    display: block;
}

    .plaqueCtrl input, .plaqueCtrl select {
        width: 45px;
        display: inline-block;
        text-align: center;
        height: 29px;
        line-height: 29px;
        margin: 3px;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        border: 1px solid #c4c4c4;
        outline: none;
        margin-right: 5px;
        margin-left: 5px;
    }

.plaqueRightPartRight {
    display: inline-block;
    border-left: 1px solid #acacac;
    width: 24%
}

    .plaqueRightPartRight input {
        width: calc(100% - 11px);
    }

.plaqueRightPartLeft {
    display: inline-block;
    width: 76%;
}

    .plaqueRightPartLeft input, .plaqueRightPartLeft div.myDropdown {
        width: calc(33.33% - 11px) !important;
        min-width: auto !important;
    }

    .plaqueRightPartLeft div.myDropdown {
        display: inline-block;
        vertical-align: top;
        margin-top: 3px;
        margin-bottom: 0px;
    }

    .plaqueRightPartLeft .myDropdownText {
        line-height: 28px;
    }

    .plaqueRightPartLeft .myDropdownHeight {
        height: 29px;
    }

    .plaqueRightPartLeft .myDropdownText span {
        width: calc(100% - 8px);
        text-align: center;
    }

    .plaqueRightPartLeft .myDropdownText i:before, .plaqueRightPartLeft .myDropdownText i:after {
        left: 3px;
        top: 11px;
    }

    .plaqueRightPartLeft .myDropdownText i:after {
        top: 10px;
    }

    .plaqueRightPartLeft .myDroppdownShowItem .myDropdownText i:before {
        top: 9px;
    }

    .plaqueRightPartLeft .myDropdown *, .makeFAP * {
        font-family: 'Font Awesome 5 Pro';
    }

.plaqueRightPart {
    display: inline-block;
    background-color: #f2f2f2;
    vertical-align: top;
    width: calc(100% - 28px);
}

.plaqueLeftPart {
    display: inline-block;
    vertical-align: top;
    text-align: center;
    background-color: #002f9c;
    border-right: 1px solid #5674bb;
}

    .plaqueLeftPart > img {
        display: inline-block;
        margin-top: 3px;
        margin-bottom: 3px;
        margin-right: 3px;
        margin-left: 5px;
        vertical-align: top;
    }

    .plaqueLeftPart > div:nth-child(2n) {
        margin-top: -9px;
    }

    .plaqueLeftPart > div {
        text-align: left;
        color: white;
        font-size: 7px;
        margin-right: 3px;
        margin-left: 5px;
    }

.select2-search__field {
    text-align: right;
}

.myCtrl {
    position: relative;
}

    .myCtrl:not(.form-check) > label:not(.btn) {
        position: absolute;
        top: 5px;
        right: 10px;
        color: silver;
        z-index: 1;
        -moz-transition: 0.2s;
        -o-transition: 0.2s;
        -webkit-transition: 0.2s;
        transition: 0.2s;
        cursor: pointer;
    }

.myCtrlMakeActive:not(.form-check) > label:not(.btn), .makeLabelBGSilver:not(.form-check) > label:not(.btn) {
    font-size: 0.8em;
    top: -15px;
    right: 10px;
    background-color: white;
    padding-right: 5px;
    padding-left: 5px;
    cursor: pointer;
}

.myCtrl input, .myCtrl select, .myCtrl textarea {
    -moz-box-shadow: none !important;
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    background-color: white !important;
    cursor: pointer;
}

.myFileUpload input[type=file] {
    display: none;
}

.btn a {
    color: white;
}

.select2-selection__arrow {
    right: auto;
    left: 1px;
}

.countDownNumberFinished {
    cursor: pointer;
}

.countDownCtrl {
    margin-bottom: 15px;
}

.makeLabelBGSilver > label {
    background-color: #fafafa !important;
}

.multiSelectImage {
}

.multiSelectImageTitle {
    line-height: 38px;
}

.multiSelectImageBody {
    padding: 10px;
}

.multiSelectImageBodyItem {
    display: inline-block;
    border: 1px solid silver;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    padding-right: 10px;
    padding-left: 10px;
    padding: 2px 5px;
    cursor: pointer;
    margin: 4px;
}

    .multiSelectImageBodyItem:hover {
        -webkit-box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
        box-shadow: 0 0 6px 1px rgba(0,0,0,0.2);
    }

.multiSelectImageBodyItemImg {
    display: inline-block;
    vertical-align: top;
}

.multiSelectImageBodyItemTitle {
    display: inline-block;
    vertical-align: -6px;
    margin-right: 3px;
}

.multiSelectImageBodyItemActive {
    border-color: green;
}

    .multiSelectImageBodyItemActive .multiSelectImageBodyItemTitle {
        color: green;
        font-weight: bold;
    }

.makeModalMinH100 {
    max-width: unset !important;
    -webkit-align-items: start;
    align-items: start;
}

.makeModalMinH100WithNoAlignItem {
    max-width: unset !important;
}

.btn-roundMoreGridDetailes {
    -moz-border-radius: 15px;
    -webkit-border-radius: 15px;
    border-radius: 15px;
    cursor: pointer;
}

    .btn-roundMoreGridDetailes > i {
        position: relative;
    }

        .btn-roundMoreGridDetailes > i:before {
            border-top: 7px solid rgba(0,0,0,0.45);
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: absolute;
            left: -17px;
            top: 9px;
            z-index: 1;
            content: ' ';
        }

        .btn-roundMoreGridDetailes > i:after {
            border-top: 7px solid white;
            border-right: 7px solid transparent;
            border-left: 7px solid transparent;
            position: absolute;
            left: -17px;
            top: 8px;
            z-index: 2;
            content: ' ';
        }

.gridDetialseMakeLessShow > i:after, .gridDetialseMakeLessShow > i:before {
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}

.gridDetialseMakeLessShow > i:after {
    top: 10px;
}

.select2-container--default .select2-selection--single .select2-selection__arrow b {
    border-width: 7px 7px 0px 7px;
    z-index: 1;
}

    .select2-container--default .select2-selection--single .select2-selection__arrow b:before {
        position: absolute;
        content: ' ';
        left: -7px;
        top: -8px;
        border-top: 7px solid white;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        z-index: 2;
    }

.select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b {
    border-width: 0px 7px 7px 7px;
}

    .select2-container--default.select2-container--open .select2-selection--single .select2-selection__arrow b:before {
        position: absolute;
        content: ' ';
        left: -7px;
        top: -6px;
        border-bottom: 7px solid white;
        border-right: 7px solid transparent;
        border-left: 7px solid transparent;
        z-index: 2;
    }

.inquiryModalLeftFilter {
    width: calc(100% - 280px);
    padding: 15px;
}

.inquiryModalRightFilter {
    width: 280px;
    padding: 15px;
    padding-right: 25px;
}

.multiSelectLineMakeSmallVersion {
    display: none;
}

.onlyMobile600T {
    display: none;
}

@media (max-width: 620px) {
    .onlyMobile600T {
        display: block;
    }

    .inquiryModalRightFilter .expandablePanelGroup {
        display: none;
    }

    .inquiryModalRightFilter {
        width: 60px;
        padding-left: 2px;
    }

        .inquiryModalRightFilter .multiSelectLineMakeSmallVersion {
            display: block;
            padding: 0px;
        }

    .inquiryModalLeftFilter {
        width: calc(100% - 60px);
        padding-left: 2px;
    }

    .fixNoThirdBug .inquiryModalLeftFilter {
        width: 100%;
        padding-left: 15px;
    }

    .fixNoThirdBug .inquiryModalRightFilter {
        display: none;
    }
}


.myPanelToolbar {
    position: absolute;
    right: 10px;
    top: 0px;
    flex-grow: 0 !important;
    width: auto !important;
    padding: 10px;
    border-radius: 10px;
    background-color: white;
}

    .myPanelToolbar > i {
        font-size: 1.5em;
        margin-left: 15px;
        color: silver;
        cursor: pointer;
    }

        .myPanelToolbar > i:hover {
            color: black;
        }

        .myPanelToolbar > i:last-child {
            margin-left: 0px;
        }

    .myPanelToolbar > .toolbarCloseButton {
        color: darkred;
    }

        .myPanelToolbar > .toolbarCloseButton:hover {
            color: red;
        }

.holderMyToolbar {
    position: relative;
    padding-top: 35px !important;
}

.myToolbarMakeMaximum {
    position: fixed;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    z-index: 5;
    margin: 0px !important;
    overflow-y: auto !important;
    background-color: white;
    height: 100vh !important;
}

.holderUploadImage {
    width: 100%;
    height: 300px;
    overflow: hidden;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

    .holderUploadImage > img {
        width: 100%;
    }

.ctrlStatusIndicator {
    font-size: 1em;
    vertical-align: 2px;
}

    .ctrlStatusIndicator:before {
        content: ' | ';
        font-size: 1em;
        vertical-align: -2px;
    }

    .ctrlStatusIndicator:empty {
        display: none;
    }

.myPanelPadding {
    padding: 10px;
}

.myPanel {
    margin-bottom: 10px;
}

.myPanelTitle {
    font-weight: bold;
}

.notificationBoble {
    font-size: 8pt;
    padding-right: 10px;
    padding-left: 10px;
    height: 25px;
    line-height: 23px;
    background-color: #9f0000;
    color: white;
    position: absolute;
    left: 10px;
    top: -10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.makeImage100 img {
    width: 100%;
}

.jq-toast-wrap.bottom-right {
    right: 5px !important;
    bottom: 0px !important;
}

.tabButtonBoxHolder {
    text-align: center;
    cursor: pointer;
}

.tabButtonBox {
    border: 1px solid #ececec;
    text-align: center;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    display: block;
    overflow: hidden;
    padding-right: 10px;
    padding-left: 10px;
    margin-top: -45px;
    padding-bottom: 15px;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
}

    .tabButtonBox:hover {
        -webkit-text-decoration: none !important;
        text-decoration: none !important;
    }

.buttonTitle {
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    height: 65px;
    font-size: 9pt;
    font-weight: bold;
    color: #777877;
    padding-top: 50px;
}

.tabButtonIcon {
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 90px;
    height: 90px;
    display: inline-block;
    color: white;
    font-size: 40px;
    line-height: 85px;
    position: relative;
    z-index: 1;
    cursor: pointer;
    position: relative;
}

    .tabButtonIcon:before {
        position: relative;
        z-index: 2;
    }

    .tabButtonIcon > span {
        position: absolute;
        width: 100%;
        height: 100%;
        top: 0px;
        left: 0px;
        border: 2px solid red;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        -moz-transform: scale(0);
        -webkit-transform: scale(0);
        -o-transform: scale(0);
        -ms-transform: scale(0);
        transform: scale(0);
    }

.tabButtonExistCount {
    color: black;
    font-size: 17pt;
    display: block;
}

.tabButtonBoxHolder:hover .tabButtonIcon > span {
    -moz-transform: scale(1.2);
    -webkit-transform: scale(1.2);
    -o-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}

.form-check {
    padding-top: 3px;
    padding-bottom: 9px;
}

@media (max-width: 400px) {
    .select2-selection__rendered {
        white-space: unset !important;
        height: 36px !important;
    }
}

.hasSort {
    display: table-cell !important;
}

.myFileUpload label {
    white-space: nowrap;
    width: 100%;
    overflow: hidden;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.form-control[readonly] {
    background-color:white;
}