

.myGrid {
    width: 100%;
    background-color: white;
}

    .myGrid tbody > tr:nth-child(2n+1) {
        background-color: rgb(245, 245, 245);
    }

.imageGallery .myGrid tbody > tr:nth-child(2n+1) {
    background-color:white;
}

.myGrid tr td {
    padding: 5px;
    border-right: 1px solid silver;
    border-top: 1px solid silver;
    word-break: break-word;
}

.myGrid tr:last-child > td {
    border-bottom: 1px solid silver;
}

.myGrid tr td:last-child {
    border-left: 1px solid silver;
}

 .myGridPagaer {
    text-align: left;
    direction: ltr;
}

    .myGridPagaer > div > button, .myGridPagaer > div > span {
        vertical-align: top;
        display: inline-block;
        min-width: 32px;
        height: 32px;
        border: 1px solid silver;
        text-align: center;
        line-height: 31px;
        margin: 1px;
        cursor: pointer;
        background-color: transparent;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
    }

        .myGridPagaer > div > button.normalCR {
            cursor: auto;
        }

    .myGridPagaer .pagaerDescription {
        direction: rtl;
        margin: 5px;
        margin-left: 10px;
    }

    .myGridPagaer .myActive, .myGridPagaer > div > button:hover {
        background-color: #d4d4d4;
    }

.myItemPerPage {
    text-align: right;
}

.myItemPerPage > span {
    display: inline-block;
    margin: 1px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    width: 32px;
    height: 32px;
    line-height: 32px;
    text-align: center;
    cursor: pointer;
}

    .myItemPerPage > span.activeItemPerPage {
        background-color: #d4d4d4;
    }


.myGridAction {
    display: inline-block;
    background-color: #005ad3;
    border: 1px solid #014db3;
    width: 25px;
    height: 25px;
    text-align: center;
    cursor: pointer;
    margin: 2px;
    vertical-align: top;
}

    .myGridAction > i, .myGridAction > a > i {
        color: white;
        font-size: 13pt;
        line-height: 24px;
    }

.myGridActionDelete {
    background-color: #e20000;
    border-color: #cc0000;
}

.myGrid .myGridWarning {
    background-color: #d5b500;
    border-color: #c5a701;
}

.myGridCTRL .holderColumnConfig {
    text-align: left;
    position: relative;
    display: inline-block;
}

.myGridCTRL .columnConfigButton, .myGridCTRL .exportToExcel, .myGridCTRL .gridExteraFilterModal {
    display: inline-block;
    border: 1px solid silver;
    text-align: center;
    width: 32px;
    height: 32px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    cursor: pointer;
    vertical-align: top;
    margin-right: 10px;
}

    .myGridCTRL .exportToExcel > i {
        font-size: 14pt;
        line-height: 30px;
    }

    .myGridCTRL .gridExteraFilterModal > i {
        font-size: 14pt;
        line-height: 30px;
    }

    .myGridCTRL .columnConfigButton:hover, .myGridCTRL .exportToExcel:hover {
        background-color: rgba(178, 178, 178, 0.35);
    }

    .myGridCTRL .columnConfigButton .columnConfigButtonIcon {
        font-size: 14pt;
        line-height: 30px;
    }

.holderColumnConfig .columnMenu {
    display: none;
    width: 300px;
    position: absolute;
    top: 36px;
    right: 0px;
    background-color: white;
    text-align: right;
    padding: 10px;
    -webkit-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.75);
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    z-index: 4;
}

.holderColumnConfig .columnMenuItem {
    display: block;
    text-align: left;
}

    .holderColumnConfig .columnMenuItem > label {
        vertical-align: 0px;
        cursor: pointer;
    }

    .holderColumnConfig .columnMenuItem > input {
        margin-right: 5px;
        vertical-align: 0px;
    }

.holderColumnConfig .columnSearchBox {
    margin-bottom: 10px;
}

.holderColumnConfig .holderSearchTextBox {
    position: relative;
    display: inline-block;
    width: 100%;
}

    .holderColumnConfig .holderSearchTextBox > label {
        position: absolute;
        right: 5px;
        top: 7px;
        font-size: 18pt;
        color: rgba(0, 0, 0, 0.35);
        cursor: pointer;
    }

.holderColumnConfig .holdercolumnItem {
    display: block;
    padding: 10px;
    max-height: 200px;
    overflow-y: auto;
}

.openConfigMenu .columnMenu {
    display: block;
}

.gridAddButton {
    display: inline-block;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    width: 25px;
    height: 25px;
    color: white;
    font-size: 13pt;
    background-color: #37BC9B;
    line-height: 25px;
    text-align: center;
    cursor: pointer;
}

.myGridSearchButton, .myGridSearchButtonShow {
    display: inline-block;
    width: 32px;
    height: 32px;
    line-height: 30px;
    border: 1px solid silver;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    text-align: center;
    vertical-align: top;
    margin-left: 10px;
    cursor: pointer;
}

    .myGridSearchButton:hover, .myGridSearchButtonShow:hover {
        background-color: rgba(178, 178, 178, 0.35);
    }

.hasSort {
    cursor: pointer;
}

.rowBindItem > td {
    -ms-word-break: break-word;
    word-break: break-word;
}

.convertToImageGallery > table {
    display: block;
    border: 1px solid silver;
}

    .convertToImageGallery > table > thead {
        display: none;
    }

    .convertToImageGallery > table > tbody {
        display: block;
        text-align: center;
    }

        .convertToImageGallery > table > tbody > tr {
            display: inline-block;
            border: 1px solid silver;
            margin: 10px;
            position: relative;
        }

            .convertToImageGallery > table > tbody > tr:last-child {
                display: block;
            }

                .convertToImageGallery > table > tbody > tr:last-child > td {
                    display: inline-block;
                    width: 100%;
                }

            .convertToImageGallery > table > tbody > tr > td {
                display: inline-block;
                border: none !important;
            }

                .convertToImageGallery > table > tbody > tr > td.actionTD {
                    position: absolute;
                    top: 0px;
                    left: 0px;
                    width: 100%;
                }

.itemTitle {
    display: block;
    text-align: center;
}

.myGrid tr td:first-child {
    border-left: 1px solid silver;
}

.gridheaderButton {
    margin-right: 10px;
}

.gridTopActionButtonHolder {
    float: left;
    margin-bottom: 10px;
}

.gridResTitle {
    display: none;
}

.topGridAction {
    text-align: right;
    padding-bottom: 3px;
}

.gridPageButtonHolder {
    display: inline-block;
    float: left;
}

.gridExpandButton {
    display: inline-block;
    cursor: pointer;
}

.imageGallery .myTableHeader {
    display: none;
}

.imageGallery .myTableBody > tr, .imageGallery .myTableBody > tr > td {
    display: inline-block;
    border: none;
}

.imageGallery .myGrid {
    display: block;
    text-align: center;
}
.imageGallery .gridResTitle {
    display: none !important;
}



.gridDetailes {
    padding-right: 30px;
}

.messageGrid {
    display: block;
}

    .messageGrid .myTableBody, .messageGrid .myTableBody > tr, .messageGrid .myTableBody > tr > td {
        display: block;
    }

    .messageGrid .myTableBody {
        padding: 15px;
    }

    .messageGrid .myTableHeader {
        display: none;
    }

    .messageGrid .myTableBody > tr:last-child {
        display: none;
    }

    .messageGrid .myGrid tbody > tr:nth-child(2n+1) {
        background-color: white;
    }



    .messageGrid .message {
        float: left;
        background-color: #4a84ef;
        color: white;
        text-align: right;
        direction: rtl;
        position: relative;
        margin-bottom: 25px;
        min-width: 230px;
        -moz-border-radius: 5px;
        -webkit-border-radius: 5px;
        border-radius: 5px;
        border: 1px solid #607eb2;
        margin-left: 10px;
        margin-right: 10px;
        padding: 5px;
    }

        .messageGrid .message:before {
            content: ' ';
            position: absolute;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
            border-right: 10px solid #4a84ef;
            top: 6px;
            left: -10px;
        }

        .messageGrid .message .messCreateDate {
            position: absolute;
            color: silver;
            bottom: -20px;
            left: 0px;
            font-size: 8pt;
        }

        .messageGrid .message .messUsername {
            position: absolute;
            color: silver;
            bottom: -20px;
            right: 0px;
            font-size: 8pt;
        }

    .messageGrid .myTableBody > tr > td:after {
        content: ' ';
        display: block;
        clear: both;
    }

    .messageGrid .myTableBody > tr > td {
        border: none;
    }

    .messageGrid .message.myMessage {
        float: right;
        color: black;
        background-color: #e4edfc;
        border: none;
    }

        .messageGrid .message.myMessage:before {
            left: auto;
            right: -10px;
            border-right: none;
            border-left: 10px solid #e4edfc;
        }

    .messageGrid .gridResTitle {
        display: none;
    }

    .messageGrid .myTableBody > tr {
        border: none !important;
    }

.messDownloadFile {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    color: #b70101;
}
.actionTD {
    white-space:nowrap;
}

.myTableHeader td {
    position:relative;
}
    .myTableHeader td > .colResizeLine {
        position:absolute;
        width:4px;
        right:-2px;
        top: 0px;
        height: 100%;
        cursor: col-resize;
    }
.myTableHeader td {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* IE 10 and IE 11 */
    user-select: none; /* Standard syntax */
}
.cellData {
    display:inline-block;
}
.cellData, .gridResTitle {
    white-space: nowrap;
}
.searchRow {
    display: none;
}
.showSearchRow {
    display: table-row;
}

.makeRTL .myGridSearchButtonShow {
    margin-left: unset;
    margin-right: 10px;
}
.myTableHeader td > span {
    font-weight:bold;
}
.myTableBody td {
    position:relative;
}
.gostRowGrid {
    visibility: hidden;
    height: 32px;
}
.gridPager {
    padding: 10px;
}
.myGridScroll:not(.ignoreRoute) {
    width: 100%;
    overflow-x: auto;
    padding: 5px;
    transform: rotateX(180deg);
    -ms-transform: rotateX(180deg); /* IE 9 */
    -webkit-transform: rotateX(180deg); /* Safari and Chrome */
}
    .myGridScroll:not(.ignoreRoute) .myGrid {
        transform: rotateX(180deg);
        -ms-transform: rotateX(180deg); /* IE 9 */
        -webkit-transform: rotateX(180deg); /* Safari and Chrome */
    }
.myTableHeader > tr > td {
    white-space:nowrap;
}
.holderMyGridScroll {
    position:relative;
}
.myGridStaticActions {
    position: absolute;
    left: 0px;
    bottom: 5px;
}
.floatActionHeader, .floatActionCell {
    text-align: center;
    border-top: 1px solid silver;
    border-right: 1px solid silver;
    border-left: 1px solid silver;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    background-color:white;
}
    .floatActionCell:last-child {
        border-bottom: 1px solid silver;
    }


.floatActionCellAlterColor {
    background-color: #f5f5f5;
}

@media (max-width: 650px) {
    .imageGallery .myItemPerPage {
        text-align:center !important;
    }
    .imageGallery .myGridPagaer {
        text-align: center !important;
    }
    .imageGallery .myTableBody > tr {
        display: block !important;
    }
    .makeRTL .imageGallery .myTableBody > tr > td {
        border-bottom: none !important;
        text-align: center !important;
    }
}