
.panelSWizard {
    border: 1px solid silver;
    margin-bottom: 10px;
    padding-top: 10px;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
}

.panelSWizardHolderHeader {
    overflow: hidden;
    display:flex;
}
.panelSWizardHolderHeaderItem {
    display: none;
    text-align: center;
    opacity: 0;
    width: 0px;
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    white-space: nowrap;
    font-weight: bold;
    position: relative;
    overflow: hidden;
    vertical-align: top;
    -ms-text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
}
.panelSWizardHolderHeaderItemActive {
    opacity: 1;
    /*width: calc(100% - 25px);*/
    padding-right: 35px;
    padding-left: 25px;
    -webkit-flex-grow: 1;
    flex-grow: 1;
    display:block;
    font-size: 0.9rem;
}
.panelSWizardHolderContent{
    position:relative;
    overflow:hidden;
}
.panelSWizardHolderContentItem {
    -moz-transition: 0.4s;
    -o-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    position: absolute;
    width: 100%;
    left: -10000px;
    top: 0px;
    opacity: 0;
    z-index: 1;
    padding:10px;
    display:none;
}
.panelSWizardHolderContentItemActive{
    position:static;
    z-index:2;
    opacity:1;
    display:block;
}
.stepButton {
    margin-left:10px;
}
.swMoveBackToStepButton{
    cursor:pointer;
    position:absolute;
    right:0px;
    top:0px;
}
.swMoveBackToStepButton > i{
    font-size:1.5em;
}
.moveToTopSW {
    float: right;
    margin-right: 5px;
}

.panelSWizardHolderContentHolderStepButton .buttonConfirm, .panelSWizardHolderContentHolderStepButton .lastStepButton {
    float: left;
    margin-bottom: 10px;
    margin-left: 0px;
}

.panelSWizardHolderContentHolderStepButton .buttonBack i, .panelSWizardHolderHeaderItem .buttonBack i {
    margin-left: 5px;
    vertical-align: -2px;
}

.panelSWizardHolderContentHolderStepButton .buttonConfirm i {
    margin-right: 5px;
    vertical-align: -2px;
}
.panelSWizardHolderHeader > .panelSWizardHolderHeaderItem:first-child {
    padding-right: 10px;
}