
.treeView {
    width: 100%;
    overflow-x: auto;
    text-align: left;
}

.treeViewItems {
    display: block;
    padding-left: 25px;
}

    .treeViewItems .treeViewItems {
        display: none;
    }

.treeViewItem {
    display: block;
}

.treeViewItemTitle {
}

    .treeViewItemTitle > label {
        display: inline-block;
        margin-left: 5px;
    }

.treeViewPMIcon {
    display: inline-block;
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.treeViewItemShowSubItem > .treeViewItems{
    display:block;
}
