@using Oje.Infrastructure
@{
    Layout = "_WebLayout";
}

@section Styles {
<link rel="stylesheet" href="/Modules/Core/css/mainPage.min.css.gz?v=@(GlobalConfig.GetAppVersion())" />

}

<div id="inquirySection" class="myContainer">
    <section class="reminderSection animationOnScroll animationOnScrollOpacity">
    </section>
</div>
<script>
    loadJsonConfig('/ProposalFormInquiries/CarBodyInquiry/GetJsonConfig', $('#inquirySection .reminderSection'));
</script>
