@{
    Layout = "_WebLayout";
}

@section Styles {
    <link rel="stylesheet" asp-append-version="true" href="/Modules/Core/css/mainPage.min.css.gz" />
}

<div class="myContainer">
    <section class="inquirySection animationOnScroll animationOnScrollOpacity">
        <div class="inquirySectionTab">
            <div class="inquirySectionTabHeaderItems">
                <div data-json-url="/ProposalFormInquiries/CarThirdPartyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner ">
                        <img data-src="/Modules/Assets/MainPage/salecIcon.png" width="64" height="64" title="ای کن استعلام ثالث" />
                        <div> شخص ثالث</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/CarBodyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/badane.png" width="64" height="64" title="ای کن استعلام بدنه" />
                        <div> بدنه</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/FireInsurance/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/atashsozi.png" width="64" height="64" title="ای کن استعلام آتش سوزی" />
                        <div>آتش سوزی</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/CarThirdPartyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/salecIcon.png" width="64" height="64" title="ای کن استعلام ثالث" />
                        <div> شخص ثالث</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/CarBodyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/badane.png" width="64" height="64" title="ای کن استعلام بدنه" />
                        <div>بدنه</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/FireInsurance/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/atashsozi.png" width="64" height="64" title="ای کن استعلام آتش سوزی" />
                        <div>سایر بیمه نامه ها</div>
                    </div>
                </div>
            </div>

            <div class="inquirySectionTabBodyItems">
                <div class="inquirySectionTabBodyItem ">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
            </div>
        </div>
    </section>
</div>
<div class="myContainer">
    <section class="setadbimePlusSection animationOnScroll animationOnScrollMarginTop">
        <div class="setadbimePlusSectionInner">
            <div class="setadbimePlusSectionInnerLogo">
                <img data-src="/Modules/Assets/MainPage/setad-plus-logo.svg" width="64" height="64" />
            </div>
            <div class="setadbimePlusSectionInnerDescription">
                <div class="setadbimePlusSectionInnerDescriptionTitle">ستاد بیمه پلاس جمع تجربه های سفر</div>
                <div class="setadbimePlusSectionInnerDescriptionDesc">
                    به علی‌بابا پلاس بیایید تا هم تجربه‌های سفرهایتان را در اختیار هزاران ‌هزار مسافر قرار دهید، هم تجربه بقیه را بخوانید.
                </div>
            </div>
            <div class="setadbimePlusSectionInnerButton">
                <a class="readMoreButton">رفتن به ستاد بیمه پلاس</a>
            </div>
        </div>
    </section>
</div>
<div style="display:none;" class="myContainer">
    <section class="quickAccessSection animationOnScroll animationOnScrollOpacityFlip">
        <div class="quickAccessSectionTabQA">
            <div class="tabCtrl">
                <div class="holderTabHeaderItems">
                    <div class="TabHeaderItem TabHeaderItemActive">
                        <div>دسترسی سریع</div>
                    </div>
                    <div class="TabHeaderItem">
                        <div>مناقصه و مزایده</div>
                    </div>
                </div>
                <div class="holderTabContentItems">
                    <div class="TabContentItem TabContentItemActive">
                        <div class="allQuckAccessItemsHolder">
                            <a href="#"><i class="fab fa-android"></i>لیست فرم پیشنهاد جدید</a>
                            <a href="#"><i class="fab fa-apple"></i>لیست فرم پیشنهاد رد شده</a>
                            <a href="#"><i class="fab fa-youtube"></i>لیست کاربران</a>
                            <a href="#"><i class="fab fa-linkedin"></i>لیست نقش ها</a>
                            <a href="#"><i class="fab fa-instagram"></i>لیست بیمه نامه ها</a>
                            <a href="#"><i class="fab fa-android"></i>لیست فرم پیشنهاد جدید</a>
                            <a href="#"><i class="fab fa-apple"></i>لیست فرم پیشنهاد رد شده</a>
                            <a href="#"><i class="fab fa-youtube"></i>لیست کاربران</a>
                            <a href="#"><i class="fab fa-linkedin"></i>لیست نقش ها</a>
                            <a href="#"><i class="fab fa-instagram"></i>لیست بیمه نامه ها</a>
                            <a href="#"><i class="fab fa-android"></i>لیست فرم پیشنهاد جدید</a>
                            <a href="#"><i class="fab fa-apple"></i>لیست فرم پیشنهاد رد شده</a>
                            <a href="#"><i class="fab fa-youtube"></i>لیست کاربران</a>
                            <a href="#"><i class="fab fa-linkedin"></i>لیست نقش ها</a>
                            <a href="#"><i class="fab fa-instagram"></i>لیست بیمه نامه ها</a>
                            <a href="#"><i class="fab fa-android"></i>لیست فرم پیشنهاد جدید</a>
                            <a href="#"><i class="fab fa-apple"></i>لیست فرم پیشنهاد رد شده</a>
                            <a href="#"><i class="fab fa-youtube"></i>لیست کاربران</a>
                            <a href="#"><i class="fab fa-linkedin"></i>لیست نقش ها</a>
                            <a href="#"><i class="fab fa-instagram"></i>لیست بیمه نامه ها</a>
                            <a href="#"><i class="fab fa-android"></i>لیست فرم پیشنهاد جدید</a>
                            <a href="#"><i class="fab fa-apple"></i>لیست فرم پیشنهاد رد شده</a>
                            <a href="#"><i class="fab fa-youtube"></i>لیست کاربران</a>
                            <a href="#"><i class="fab fa-linkedin"></i>لیست نقش ها</a>
                            <a href="#"><i class="fab fa-instagram"></i>لیست بیمه نامه ها</a>
                            <a href="#"><i class="fab fa-android"></i>لیست فرم پیشنهاد جدید</a>
                            <a href="#"><i class="fab fa-apple"></i>لیست فرم پیشنهاد رد شده</a>
                            <a href="#"><i class="fab fa-youtube"></i>لیست کاربران</a>
                            <a href="#"><i class="fab fa-linkedin"></i>لیست نقش ها</a>
                            <a href="#"><i class="fab fa-instagram"></i>لیست بیمه نامه ها</a>
                        </div>
                    </div>
                    <div class="TabContentItem">
                        محتوای مزایده
                    </div>
                </div>
            </div>
        </div>
        <div class="quickAccessSectionTabCharts">
            <div class="tabCtrl">
                <div class="holderTabHeaderItems">
                    <div class="TabHeaderItem TabHeaderItemActive">
                        <div>فروش ماهانه</div>
                    </div>
                    <div class="TabHeaderItem">
                        <div>گزارش سالانه</div>
                    </div>
                    <div class="TabHeaderItem">
                        <div>فروش روزانه</div>
                    </div>
                </div>
                <div class="holderTabContentItems">
                    <div class="TabContentItem TabContentItemActive">
                        <div id="hiChartMonthly"></div>
                    </div>
                    <div class="TabContentItem">
                        <div id="hiChartYear"></div>
                    </div>
                    <div class="TabContentItem">
                        <div id="hiChartDayly"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
@*<script>
    
    Highcharts.chart('hiChartMonthly', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monthly Average Temperature'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
    Highcharts.chart('hiChartYear', {
        chart: {
            type: 'spline',
            scrollablePlotArea: {
                minWidth: 600,
                scrollPositionX: 1
            }
        },
        title: {
            text: 'Wind speed during two days',
            align: 'left'
        },
        subtitle: {
            text: '13th & 14th of February, 2018 at two locations in Vik i Sogn, Norway',
            align: 'left'
        },
        xAxis: {
            type: 'datetime',
            labels: {
                overflow: 'justify'
            }
        },
        yAxis: {
            title: {
                text: 'Wind speed (m/s)'
            },
            minorGridLineWidth: 0,
            gridLineWidth: 0,
            alternateGridColor: null,
            plotBands: [{ // Light air
                from: 0.3,
                to: 1.5,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: 'Light air',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Light breeze
                from: 1.5,
                to: 3.3,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                    text: 'Light breeze',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Gentle breeze
                from: 3.3,
                to: 5.5,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: 'Gentle breeze',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Moderate breeze
                from: 5.5,
                to: 8,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                    text: 'Moderate breeze',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Fresh breeze
                from: 8,
                to: 11,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: 'Fresh breeze',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // Strong breeze
                from: 11,
                to: 14,
                color: 'rgba(0, 0, 0, 0)',
                label: {
                    text: 'Strong breeze',
                    style: {
                        color: '#606060'
                    }
                }
            }, { // High wind
                from: 14,
                to: 15,
                color: 'rgba(68, 170, 213, 0.1)',
                label: {
                    text: 'High wind',
                    style: {
                        color: '#606060'
                    }
                }
            }]
        },
        tooltip: {
            valueSuffix: ' m/s'
        },
        plotOptions: {
            spline: {
                lineWidth: 4,
                states: {
                    hover: {
                        lineWidth: 5
                    }
                },
                marker: {
                    enabled: false
                },
                pointInterval: 3600000, // one hour
                pointStart: Date.UTC(2018, 1, 13, 0, 0, 0)
            }
        },
        series: [{
            name: 'Hestavollane',
            data: [
                3.7, 3.3, 3.9, 5.1, 3.5, 3.8, 4.0, 5.0, 6.1, 3.7, 3.3, 6.4,
                6.9, 6.0, 6.8, 4.4, 4.0, 3.8, 5.0, 4.9, 9.2, 9.6, 9.5, 6.3,
                9.5, 10.8, 14.0, 11.5, 10.0, 10.2, 10.3, 9.4, 8.9, 10.6, 10.5, 11.1,
                10.4, 10.7, 11.3, 10.2, 9.6, 10.2, 11.1, 10.8, 13.0, 12.5, 12.5, 11.3,
                10.1
            ]

        }, {
            name: 'Vik',
            data: [
                0.2, 0.1, 0.1, 0.1, 0.3, 0.2, 0.3, 0.1, 0.7, 0.3, 0.2, 0.2,
                0.3, 0.1, 0.3, 0.4, 0.3, 0.2, 0.3, 0.2, 0.4, 0.0, 0.9, 0.3,
                0.7, 1.1, 1.8, 1.2, 1.4, 1.2, 0.9, 0.8, 0.9, 0.2, 0.4, 1.2,
                0.3, 2.3, 1.0, 0.7, 1.0, 0.8, 2.0, 1.2, 1.4, 3.7, 2.1, 2.0,
                1.5
            ]
        }],
        navigation: {
            menuItemStyle: {
                fontSize: '10px'
            }
        }
    });
    Highcharts.chart('hiChartDayly', {
        chart: {
            type: 'line'
        },
        title: {
            text: 'Monthly Average Temperature'
        },
        subtitle: {
            text: 'Source: WorldClimate.com'
        },
        xAxis: {
            categories: ['Jan', 'Feb', 'Mar', 'Apr', 'May', 'Jun', 'Jul', 'Aug', 'Sep', 'Oct', 'Nov', 'Dec']
        },
        yAxis: {
            title: {
                text: 'Temperature (°C)'
            }
        },
        plotOptions: {
            line: {
                dataLabels: {
                    enabled: true
                },
                enableMouseTracking: false
            }
        },
        series: [{
            name: 'Tokyo',
            data: [7.0, 6.9, 9.5, 14.5, 18.4, 21.5, 25.2, 26.5, 23.3, 18.3, 13.9, 9.6]
        }, {
            name: 'London',
            data: [3.9, 4.2, 5.7, 8.5, 11.9, 15.2, 17.0, 16.6, 14.2, 10.3, 6.6, 4.8]
        }]
    });
</script>*@
<div class="myContainer">
    <section class="aboutUsSection animationOnScroll animationOnScrollMarginTop">
        <div class="aboutUsSectionTitle">آزانس تبلیغ6اتی الرا</div>
        <div class="aboutUsSectionSubTitle">تبلیغات, برندسازی, دیجیتال مارکتینگ و طراحی سایت</div>
        <div class="aboutUsSectionDescription">
            آژانس تبلیغاتی الرا، متشکل از تیمی جوان و در عین حال مجرب و خلاق، تمام توان خود را در مسیر توسعه ی کسب و کارهای کشور، بعنوان مشاور و مجری طرح های برندینگ و بازاریابی، اجرای کمپین های تبلیغاتی، تولید محتوا، طراحی سایت و فروشگاه آنلاین بکار گرفته است و بعنوان تنها شرکت تبلیغاتی در تهران اقدام به ارائه پکیج کاملی از خدمات این حوزه کرده است تا دغدغه صاحبان کسب و کار و سازمان ها را نسبت به انتخاب پیمانکار و مشاور مناسب و تسریع کار در حوزه های بازاریابی و تبلیغات، مرتفع نماید.
        </div>
        <div class="aboutUsSectionAbilityIcons">
            <div class="aboutUsSectionAbilityIcon">
                <img data-src="/Modules/Assets/MainPage/rahkar.png" width="80" height="80" />
                <div>راهکارهای تبلیغات و بازاریابی</div>
            </div>
            <div class="aboutUsSectionAbilityIcon">
                <img data-src="/Modules/Assets/MainPage/rahkar-digital.png" width="80" height="80" />
                <div>راهکارهای دیجیتال و آنلاین</div>
            </div>
            <div class="aboutUsSectionAbilityIcon">
                <img data-src="/Modules/Assets/MainPage/mohtava.png" width="80" height="80" />
                <div>تولید محتوا و طراحی گرافیک</div>
            </div>
        </div>
        <div class="aboutUsSectionExteraButtons">
            <a class="secountBtn">مشاهده اطلاعات بیشتر</a>
            <a class="mainBtn">تماس با ستاد بیمه</a>
        </div>
    </section>
</div>
<div id="holderBlogs" class="myContainer myContainerEffect1">
    
</div>
<div class="myContainer">
    <section class="reminderSection animationOnScroll animationOnScrollOpacityFlip">
        <div class="reminderSectionDescription">
            <img width="64" height="64" data-src="/Modules/Assets/MainPage/blueCalender.png" />
            <div class="reminderSectionDescriptionTexts">
                <div class="reminderSectionDescriptionTextsTitle">یادآوری تمدید یا اقساط بیمه</div>
                <div class="reminderSectionDescriptionTextsDescription">
                    لورم ایپسوم متن ساختگی با تولید سادگی نمفهوم از صنعت چاپ و با استفده از طراحان گرافیک است . چاپگراها و متون بلکه روزنامه و مجله در ستون و سطر آنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد.
                </div>
            </div>
        </div>
        <div class="reminderSectionInput ctrlRow">
            <div class="ctrl ctrlSize50">
                <select>
                    <option>لطفا موضوع یادآوری را انتخاب کنید</option>
                    <option>موضوع 1</option>
                    <option>موضوع 2</option>
                    <option>موضوع 3</option>
                </select>
            </div>
            <div class="ctrl ctrlSize50">
                <input type="text" placeholder="لطفا تاریخ یادآوری را مشخص کنید" />
            </div>
            <div class="ctrl ctrlSize100">
                <textarea></textarea>
            </div>
            <div class="reminderSectionInputHolderButton">
                <button class="mainBtn">ثبت یاد آوری</button>
            </div>
        </div>
    </section>
</div>
<div class="myContainer">
    <section class="downloadOurMobileApp animationOnScroll animationOnScrollMarginTop">
        <div class="downloadOurMobileAppButtonSection">
            <div class="downloadOurMobileAppButtonSectionTitle">دانلود اپلیکیشن ستاد بیمه</div>
            <div class="downloadOurMobileAppButtonSectionDescription">با اپلیکیشن علی بابا سریع تر و مطمئن تر به سفر بروید</div>
            <a class="downloadOurMobileAppButtonSectionHelpLink">راهنمای دانلود </a>
            <div class="downloadOurMobileAppButtonSectionDescription2"><i class="fab fa-android"></i> <i class="fab fa-apple"></i> قابلیت نصب روی Android و iOS</div>
        </div>
        <div class="downloadOurMobileAppImage">
            <img width="370" height="294" data-src="/Modules/Assets/MainPage/mobileAppExampleImage.webp" title="تصویر نمونه مبایل اپ ستاد بیمه" />
        </div>
    </section>
</div>
<div class="myContainer">
    <section class="yourQuestion animationOnScroll animationOnScrollOpacity">
        <div class="yourQuestionTitle">پرسش های شما</div>
        <div class="holderyourQuestionItems">
            <div class="yourQuestionItem">
                <i></i>
                <div class="yourQuestionItemTitle">
                    چند روز قبل از پرواز بلیط هواپیما را بخرم
                </div>
                <div class="yourQuestionItemAnswer">
                    امکان رزرو بلیط هواپیما از ماه‌ها قبل وجود دارد. اما گاهی اوقات قیمت بلیط هواپیما در روزهای نزدیک به پرواز ارزان‌تر می‌شود. بنابراین در صورتی که شرایطتان اجازه می‌دهد، رزرو آنلاین بلیط هواپیما را به روزهای نزدیک پرواز موکول کنید. البته اگر قصد سفر در ایام پرسفر نظیر تعطیلات را دارید، باید هر چه زودتر رزرو بلیط هواپیما را انجام دهید.
                </div>
            </div>
            <div class="yourQuestionItem">
                <i></i>
                <div class="yourQuestionItemTitle">
                    در هر پرواز، میزان بار مجاز چقدر است؟
                </div>
                <div class="yourQuestionItemAnswer">
                    میزان مجاز بار به کلاس پرواز و کلاس نرخی بلیط بستگی دارد. هنگام خرید آنلاین بلیط هواپیما می‌توانید میزان بار مجاز را در اطلاعات بلیط ببینید. طبیعی است که اگر میزان بارتان بیش از حد مجاز باشد، باید جریمه پرداخت کنید.
                </div>
            </div>
            <div class="yourQuestionItem">
                <i></i>
                <div class="yourQuestionItemTitle">
                    نرخ بلیط هواپیما برای نوزادان و کودکان زیر ۱۲ سال چگونه است؟
                </div>
                <div class="yourQuestionItemAnswer">
                    این نرخ به کلاس پرواز و کلاس نرخی بستگی دارد. اما عموما 50 تا 75 درصد قیمت بلیط بزرگسالان است. قیمت بلیط هواپیما برای نوزادان (تا 2 سال) در بیشتر موارد 10 درصد بلیط بزرگسالان است. هنگام تهیه بلیط هواپیما به این نکته توجه داشته باشید.
                </div>
            </div>
            <div class="yourQuestionItem">
                <i></i>
                <div class="yourQuestionItemTitle">
                    چند روز قبل از پرواز بلیط هواپیما را بخرم
                </div>
                <div class="yourQuestionItemAnswer">
                    امکان رزرو بلیط هواپیما از ماه‌ها قبل وجود دارد. اما گاهی اوقات قیمت بلیط هواپیما در روزهای نزدیک به پرواز ارزان‌تر می‌شود. بنابراین در صورتی که شرایطتان اجازه می‌دهد، رزرو آنلاین بلیط هواپیما را به روزهای نزدیک پرواز موکول کنید. البته اگر قصد سفر در ایام پرسفر نظیر تعطیلات را دارید، باید هر چه زودتر رزرو بلیط هواپیما را انجام دهید.
                </div>
            </div>
            <div class="yourQuestionItem">
                <i></i>
                <div class="yourQuestionItemTitle">
                    در هر پرواز، میزان بار مجاز چقدر است؟
                </div>
                <div class="yourQuestionItemAnswer">
                    میزان مجاز بار به کلاس پرواز و کلاس نرخی بلیط بستگی دارد. هنگام خرید آنلاین بلیط هواپیما می‌توانید میزان بار مجاز را در اطلاعات بلیط ببینید. طبیعی است که اگر میزان بارتان بیش از حد مجاز باشد، باید جریمه پرداخت کنید.
                </div>
            </div>
            <div class="yourQuestionItem">
                <i></i>
                <div class="yourQuestionItemTitle">
                    نرخ بلیط هواپیما برای نوزادان و کودکان زیر ۱۲ سال چگونه است؟
                </div>
                <div class="yourQuestionItemAnswer">
                    این نرخ به کلاس پرواز و کلاس نرخی بستگی دارد. اما عموما 50 تا 75 درصد قیمت بلیط بزرگسالان است. قیمت بلیط هواپیما برای نوزادان (تا 2 سال) در بیشتر موارد 10 درصد بلیط بزرگسالان است. هنگام تهیه بلیط هواپیما به این نکته توجه داشته باشید.
                </div>
            </div>
        </div>
    </section>
</div>
<div class="myContainer">
    <section class="ourPrideSection animationOnScroll animationOnScrollMarginTop">
        <div class="ourPrideSectionTitle"><span>افتخارات ستاد بیمه</span></div>
        <div class="ourPrideSectionItems">
            <div class="ourPrideSectionItem">
                <img width="80" height="80" data-src="/Modules/Assets/MainPage/noone.png" />
                <div>
                    <span style="display:block;" class="ourPrideSectionItemLightBoldTxt" data-target-value="1">0</span>
                    اولین هلدینگ خدمات بازار سرمایه و بزرگترین کارگزاری بورس در ایران
                </div>
            </div>
            <div class="ourPrideSectionItem">
                <img width="80" height="80" data-src="/Modules/Assets/MainPage/users.png" />
                <div>
                    <span class="ourPrideSectionItemLightText">بیش از</span>
                    <span class="ourPrideSectionItemLightBoldTxt" data-target-value="10">0</span>
                    <span class="ourPrideSectionItemLightText">ملیون</span>
                    <span style="display:block;" class="ourPrideSectionItemLightBoldTxt">کاربر</span>
                </div>
            </div>
            <div class="ourPrideSectionItem">
                <img width="80" height="80" data-src="/Modules/Assets/MainPage/property.png" />
                <div>
                    <span class="ourPrideSectionItemLightText">بیش از</span>
                    <span class="ourPrideSectionItemLightBoldTxt" data-target-value="340">0</span>
                    <span class="ourPrideSectionItemLightText">هزار ملیارد ریال</span>
                    <span style="display:block;" class="ourPrideSectionItemLightBoldTxt">دارایی تحت مدیریت</span>
                </div>
            </div>
            <div class="ourPrideSectionItem">
                <img width="80" height="80" data-src="/Modules/Assets/MainPage/branch.png" />
                <div>
                    <span class="ourPrideSectionItemLightText">بیش از</span>
                    <span class="ourPrideSectionItemLightBoldTxt" data-target-value="5000">0</span>
                    <span class="ourPrideSectionItemLightText">نقطه ارایه خدمت</span>
                    <span style="display:block;" class="ourPrideSectionItemLightBoldTxt">در سراسر کشور</span>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $('.tabCtrl').initTabCtrl();
        $('.yourQuestion .yourQuestionItem').initMyQuestionItem();
        $('.inquirySectionTab').initInquiryTab();
        $('#holderBlogs').bindBlog('/Blog/Blog/GetMainBlog');
    });
</script>