@using Oje.Infrastructure
@{
    Layout = "_WebLayout";
}

@inject Oje.AccountService.Interfaces.ISiteSettingService SiteSettingService

@{
    var curSetting = SiteSettingService.GetSiteSetting();
}

@section Styles {
<link rel="stylesheet" href="/Modules/Core/css/mainPage.min.css.gz?v=@(GlobalConfig.GetAppVersion())" />

}

<div id="holderInquirySection">
    <div class="myContainer">
        <section class="inquirySection animationOnScroll animationOnScrollOpacity">
            <div class="inquirySectionTab">
                <div class="inquirySectionTabHeaderItems">
                    <div data-json-url="/ProposalFormInquiries/CarThirdPartyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                        <div class="inquirySectionTabHeaderItemInner ">
                            <i class="fa fa-car-crash imageIcon"></i>
                            @*<img data-src="/Modules/Assets/MainPage/salecIcon.png" width="64" height="64" title="ای کن استعلام ثالث" />*@
                            <div>بیمه شخص ثالث خودرو</div>
                        </div>
                    </div>
                    <div data-json-url="/ProposalFormInquiries/CarBodyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                        <div class="inquirySectionTabHeaderItemInner">
                            <i class="fa fa-car-tilt imageIcon"></i>
                            @*<img data-src="/Modules/Assets/MainPage/badane.png" width="64" height="64" title="ای کن استعلام بدنه" />*@
                            <div>بیمه بدنه خودرو</div>
                        </div>
                    </div>
                    <div data-json-url="/ProposalFormInquiries/FireInsurance/GetJsonConfig" class="inquirySectionTabHeaderItem">
                        <div class="inquirySectionTabHeaderItemInner">
                            <i class="fa fa-house-damage imageIcon"></i>
                            @*<img data-src="/Modules/Assets/MainPage/atashsozi.png" width="64" height="64" title="ای کن استعلام آتش سوزی" />*@
                            <div>بیمه آتش سوزی منازل</div>
                        </div>
                    </div>
                    <div data-json-url="/Home/GetOtherInsuranceConfig" class="inquirySectionTabHeaderItem">
                        <div class="inquirySectionTabHeaderItemInner">
                            <i class="fa fa-file-search imageIcon"></i>
                            @*<img data-src="/Modules/Assets/MainPage/form.png" width="64" height="64" title="ای کن استعلام آتش سوزی" />*@
                            <div>سایر بیمه نامه ها</div>
                        </div>
                    </div>
                </div>
                <div class="inquirySectionTabBodyItems">
                    <div class="inquirySectionTabBodyItem ">
                    </div>
                    <div class="inquirySectionTabBodyItem">
                    </div>
                    <div class="inquirySectionTabBodyItem">
                    </div>
                    <div class="inquirySectionTabBodyItem">
                    </div>
                    <div class="inquirySectionTabBodyItem">
                    </div>
                    <div class="inquirySectionTabBodyItem">
                    </div>
                </div>
            </div>
        </section>
    </div>
</div>
<div id="holderInquirySectionDestination"></div>
<script>
    if($(document).width() <= 650)
        $('#holderInquirySection').initFloatingTop('holderInquirySectionDestination', 'removeInquirySectionMarginTop');
</script>
@*<div class="myContainer">
    <section class="setadbimePlusSection animationOnScroll animationOnScrollMarginTop">
    <div class="setadbimePlusSectionInner">
    <div class="setadbimePlusSectionInnerLogo">
    <img data-src="/Modules/Assets/MainPage/setad-plus-logo.svg" width="64" height="64" />
    </div>
    <div class="setadbimePlusSectionInnerDescription">
    <div class="setadbimePlusSectionInnerDescriptionTitle">ستاد بیمه پلاس جمع تجربه های سفر</div>
    <div class="setadbimePlusSectionInnerDescriptionDesc">
    به علی‌بابا پلاس بیایید تا هم تجربه‌های سفرهایتان را در اختیار هزاران ‌هزار مسافر قرار دهید، هم تجربه بقیه را بخوانید.
    </div>
    </div>
    <div class="setadbimePlusSectionInnerButton">
    <a class="readMoreButton">رفتن به ستاد بیمه پلاس</a>
    </div>
    </div>
    </section>
    </div>*@
<div id="adminPanel" style="display:none;" class="myContainer">
    <section class="quickAccessSection animationOnScroll animationOnScrollOpacityFlip">
        <div class="quickAccessSectionTabQA">
            <div class="tabCtrl">
                <div class="holderTabHeaderItems">
                    <div class="TabHeaderItem TabHeaderItemActive">
                        <div>دسترسی سریع</div>
                    </div>
                    <div class="TabHeaderItem">
                        <div>مناقصه و مزایده</div>
                    </div>
                </div>
                <div class="holderTabContentItems">
                    <div class="TabContentItem TabContentItemActive">
                        <div class="allQuckAccessItemsHolder">
                        </div>
                    </div>
                    <div class="TabContentItem">
                        محتوای مزایده
                    </div>
                </div>
            </div>
        </div>
        <div class="quickAccessSectionTabCharts">
            <div class="tabCtrl">
                <div class="holderTabHeaderItems">
                    <div class="TabHeaderItem TabHeaderItemActive">
                        <div>فروش ماهانه</div>
                    </div>
                    <div class="TabHeaderItem">
                        <div>گزارش سالانه</div>
                    </div>
                    <div class="TabHeaderItem">
                        <div>فروش هفتگی</div>
                    </div>
                </div>
                <div style="background-color:white;" class="holderTabContentItems">
                    <div class="TabContentItem TabContentItemActive">
                        <div id="hiChartMonthly"></div>
                    </div>
                    <div class="TabContentItem">
                        <div id="hiChartYear"></div>
                    </div>
                    <div class="TabContentItem">
                        <div id="hiChartWeekly"></div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    showLoginUserPanelInMainPage();
</script>
<div id="holderAboutUs" class="myContainer">
    <section class="aboutUsSection animationOnScroll animationOnScrollMarginTop">
        <div class="aboutUsSectionTitle"><div style="text-align:center;padding-top:15px;"><div class="ourPrideSectionTitle"><span></span></div></div></div>
        <div class="aboutUsSectionSubTitle"></div>
        <div class="aboutUsSectionDescription">
        </div>
        <div class="aboutUsSectionAbilityIcons">
            <div class="aboutUsSectionAbilityIcon">
                <img width="80" height="80" />
                <div></div>
            </div>
            <div class="aboutUsSectionAbilityIcon">
                <img width="80" height="80" />
                <div></div>
            </div>
            <div class="aboutUsSectionAbilityIcon">
                <img width="80" height="80" />
                <div></div>
            </div>
        </div>
        <div class="aboutUsSectionExteraButtons">
            <a href="#" class="secountBtn">مشاهده اطلاعات بیشتر</a>
            <a href="/ContactUs" class="mainBtn">تماس با @curSetting.Title</a>
        </div>
    </section>
</div>
<script>
    $('#holderAboutUs').initMainPageAboutUs('/Home/GetAboutUsMainPage');
</script>
<div id="ourPrideDiv" class="myContainer">
    <section class="ourPrideSection animationOnScroll animationOnScrollMarginTop">
        <div class="ourPrideSectionTitle"><span></span></div>
        <div class="ourPrideSectionItems">
            <div class="ourPrideSectionItem">
                <img width="80" height="80" data-src="/Modules/Assets/MainPage/noone.png" />
                <div>
                    <span style="display:block;" class="ourPrideSectionItemLightBoldTxt" data-target-value="1">0</span>
                </div>
            </div>
            <div class="ourPrideSectionItem">
                <img width="80" height="80" data-src="/Modules/Assets/MainPage/users.png" />
                <div>
                </div>
            </div>
            <div class="ourPrideSectionItem">
                <img width="80" height="80" data-src="/Modules/Assets/MainPage/property.png" />
                <div>
                </div>
            </div>
            <div class="ourPrideSectionItem">
                <img width="80" height="80" data-src="/Modules/Assets/MainPage/branch.png" />
                <div>
                </div>
            </div>
        </div>
    </section>
</div>
<div id="reminderSection" class="myContainer">
    <section class="reminderSection animationOnScroll animationOnScrollOpacityFlip">
        <div class="reminderSectionDescription">
            <img class="reminderMainLogo" width="64" height="64" />
            <div class="reminderSectionDescriptionTexts">
                <div class="reminderSectionDescriptionTextsTitle"></div>
                <div class="reminderSectionDescriptionTextsDescription"></div>
            </div>
        </div>
        <div class="reminderSectionInput "></div>
    </section>
</div>
<script>
    loadJsonConfig('/Home/GetReminderConfig', $('#reminderSection .reminderSectionInput'));
    $('#reminderSection').loadAndBindRemindUsSection('/Reminder/GetMainPageDescription');
</script>
@*<div class="myContainer">
    <section class="downloadOurMobileApp animationOnScroll animationOnScrollMarginTop">
    <div class="downloadOurMobileAppButtonSection">
    <div class="downloadOurMobileAppButtonSectionTitle">دانلود اپلیکیشن ستاد بیمه</div>
    <div class="downloadOurMobileAppButtonSectionDescription">با اپلیکیشن علی بابا سریع تر و مطمئن تر به سفر بروید</div>
    <a class="downloadOurMobileAppButtonSectionHelpLink">راهنمای دانلود </a>
    <div class="downloadOurMobileAppButtonSectionDescription2"><i class="fab fa-android"></i> <i class="fab fa-apple"></i> قابلیت نصب روی Android و iOS</div>
    </div>
    <div class="downloadOurMobileAppImage">
    <img width="360" height="284" data-src="/Modules/Assets/MainPage/mobileAppExampleImage.webp" title="تصویر نمونه مبایل اپ ستاد بیمه" />
    </div>
    </section>
    </div>*@
<div id="yourQuestion" class="myContainer"></div>

<div id="holderBlogs" style="display:none;" class="myContainer"></div>

<div id="ourCustomers" class="myContainer">
    <section class="ourPrideSection">
        <div class="ourPrideSectionTitle"><span>مشتریان ما</span></div>
        <div>
            <div class="mySlider"></div>
        </div>
    </section>
</div>

<div id="ourCompany" class="myContainer">
    <section class="ourPrideSection">
        <div class="ourPrideSectionTitle"><span>شرکت های بیمه گر طرف قرارداد</span></div>
        <div>
            <div class="mySlider"></div>
        </div>
    </section>
</div>
<script>
    postForm('/Home/GetOurCustomerList', new FormData(), function(res)
    {
        if(res && res.length > 0){
            $('#ourCustomers .mySlider').initSlider({
                bigCount: 7,
                normalCount: 2,
                smallCount: 1,
                autoStart:3000,
                data: res
            });
            
        }
         else
            $('#ourCustomers').css('display','none');

    }, function() {$('#ourCustomers').css('display','none')});

    postForm('/Home/GetOurCompanyList', new FormData(), function(res)
    {
        if(res && res.length > 0) {
            $('#ourCompany .mySlider').initSlider({
                bigCount: 7,
                normalCount: 2,
                smallCount: 1,
                autoStart:3000,
                data: res
            });
        }
         else
            $('#ourCompany').css('display','none');

    }, function() {$('#ourCompany').css('display','none')});

    $('#ourPrideDiv').loadAndBindOurPride('/Home/GetOurPrideMainPage');
    $('#holderBlogs').bindBlog('/Blog/Blog/GetMainBlog');
    document.addEventListener("DOMContentLoaded", function(event) {

        $('.tabCtrl').initTabCtrl();
        $('.inquirySectionTab').initInquiryTab();
        $('#yourQuestion').loadYourQuestionList();
    });
</script>