

@media  (max-width: 900px) {
    main {
        margin-left:0px;
    }
    .sideMenuHolder{
        z-index:2;
    }
    .headerTopMenuButton {
        float:right;
    }
    .notificationMenuHolder {
        width:255px;
    }
}
