@font-face {
    font-family: Yekan;
    src: url('/Modules/Webfonts/YekanBakh/Yekan.eot');
    src: url('/Modules/Webfonts/YekanBakh/Yekan.eot?#iefix') format('embedded-opentype'), url('/Modules/Webfonts/YekanBakh/Yekan.woff2') format('woff2'), url('/Modules/Webfonts/YekanBakh/Yekan.woff') format('woff'), url('/Modules/Webfonts/YekanBakh/Yekan.ttf') format('truetype'), url( '/Modules/Webfonts/YekanBakh/Yekan.svg#Yekan' ) format( 'svg' );
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*:not(.fa) {
    font-family: 'Yekan' !important;
}
