@font-face {
    font-family: Yekan;
    src: url(/Modules/Webfonts/YekanBakh/YekanBakhRegular.ttf) format("truetype");
    src: url(/Modules/Webfonts/YekanBakh/YekanBakhRegular.ttf) format("truetype"),url(/Modules/Webfonts/YekanBakh/YekanBakhRegular.woff) format("woff");
    font-style: normal;
    font-weight: normal;
    font-display: swap;
}

*:not(.fa) {
    font-family: 'Yekan' !important;
}
