@font-face {
    font-family: Vazir;
    src: url('/Modules/Webfonts/Vazir/Vazir-Regular-FD.eot');
    src: url('/Modules/Webfonts/Vazir/Vazir-Regular-FD.eot?#iefix') format('embedded-opentype'), url('/Modules/Webfonts/Vazir/Vazir-Regular-FD.woff2') format('woff2'), url('/Modules/Webfonts/Vazir/Vazir-Regular-FD.woff') format('woff'), url('/Modules/Webfonts/Vazir/Vazir-Regular-FD.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

*:not(.fa) {
    font-family: 'Vazir' !important;
}
