@{
    Layout = "_TenderLayout";
}

<div class="rightNavigation">
    <div class="currentSection">
        <div class="currentSectionShape currentSectionShapeTop">
            <div class="currentSectionShapeArrowLeft"></div>
        </div>
        <div class="currentSectionShapeShadow currentSectionShapeTop"></div>
        <h1 class="currentSectionTitle">ورود به سامانه</h1>
    </div>
    <div class="navigationButtonHolder">
        <div class="navigationButtonRoute"></div>
    </div>
</div>
<div class="mainContentBody"></div>
<script>
    $('.mainContentBody').loadLoginPanel('/TenderWeb/GetLoginConfig', addRegisterButton);
    loadAllRegistersConfig();
    detectIfUserIsLogin();
    initWhatToDoLogin();
</script>