

<div>

</div>

<script>
    $('.mainLoaderForAdminArea').addClass('mainLoaderForAdminAreaClose');
    setTimeout(function () {
        $('.mainLoaderForAdminArea').css('display', 'none');
    }, 300);
</script>