@using Oje.Infrastructure
@inject Oje.AccountService.Interfaces.ISiteSettingService SiteSettingService;
@{
    Layout = SiteSettingService.GetSiteSetting()?.Layout;
}


@section Styles {
    <link rel="stylesheet" href="/Modules/Core/css/yourQuestion.min.css.gz?v=@(GlobalConfig.GetAppVersion())" />
    <script src="/Modules/Core/js/yourQuestion.min.js.gz?v=@(GlobalConfig.GetAppVersion())"></script>
}

<div style="padding-top:40px;padding-bottom:40px;" class="myContainer">
    <div class="MainHolder"></div>
</div>
<div id="yourQuestion" class="myContainer"></div>
<script>
    @{
        if(ViewBag.exteraParameters != null)
        {
            ViewContext.Writer.Write("var exteraModelParams = JSON.parse('" + Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.exteraParameters) + "');");
        }
    }
    loadJsonConfig('@ViewBag.ConfigRoute');


    $('#yourQuestion').loadYourQuestionList('/Question/UserRegisterFormYourQuestion/GetList?fid=@(ViewBag.fid)');
</script>
