@using Oje.Infrastructure.Services
@model Oje.Section.InsuranceContractBaseData.Models.View.ContractTermsInfo
@{
    Layout = null;
}

<style>
    .termsTitle {
        font-size: 1.5em;
        font-weight: bold;
    }

    .termsSubTitle {
        padding-top: 20px;
        font-weight: bold;
    }
</style>

<div>
    <div class="termsTitle">قوانین حاکم برای تکمیل فرم پیشنهاد </div>
    <div class="termsSubTitle">
        شرایط :
    </div>
    <div style="padding-bottom:20px;padding-top:10px;">
        @{
            if (!string.IsNullOrEmpty(Model.termsDescription))
            {
                <div>
                    @{
                        ViewContext.Writer.Write(
                                (Model.termsDescription + "")
                                .Replace("{{company}}",ViewBag.companyTitle)
                                .Replace("{{date}}", DateTime.Now.ToFaDate())
                                .Replace("{{time}}", DateTime.Now.ToString("HH:mm"))
                                .Replace("{{firstName}}",Model.firstName)
                                .Replace("{{lastName}}",Model.lastName)
                                .Replace("{{nationalCode}}",Model.nationalCode)
                                .Replace("{{mobile}}",Model.mobile)
                                );
                    }
                </div>
            }
        }
    </div>
   @* <div>
        <div>
            @{
                if (!string.IsNullOrEmpty(ViewBag.ContractFile))
                {
                    <div class="form-check form-switch myCtrl"><input data-validation-required="true" data-validation-required-msg="لطفا متن قرارداد را مطالعه کرده و انتخاب کنید" class="form-check-input" type="checkbox" id="id_e5b2c520a2b"><label style="padding-right:20px;" class="form-check-label" for="id_e5b2c520a2b"><a title="متن قرارداد" target="_blank" href="@ViewBag.ContractFile">متن قرارداد</a> را مطالعه نموده و قبول دارم</label></div>
                }
            }
        </div>
    </div>*@
</div>
