@using Oje.Infrastructure
@inject Oje.AccountService.Interfaces.ISiteSettingService SiteSettingService;
@{
    Layout = SiteSettingService.GetSiteSetting()?.Layout;

    if (ViewBag.ignoreMaster == true)
    {
        Layout = null;
    }
}


@{
    if (Layout == "_WebLayout")
    {
        <div class="myContainer">
            <section class="globalSection" id="holderContractSection"></section>
        </div>
    } else
    {
        <div style="padding:30px;background-color:white;" >
            <div id="holderContractSection"></div>
        </div>
    }
}



<script>
    loadJsonConfig('@(ViewBag.jsonConfigUrl)', 'holderContractSection');
</script>