@using Oje.Infrastructure

@{
    string paddingExter = "";
    Layout = "_WebLayout";
    if (ViewBag.layer != null)
    {
        Layout = ViewBag.layer;
        paddingExter = "padding:10px;";
    }
}

@section Styles {
    <link rel="stylesheet" href="/Modules/Core/css/yourQuestion.min.css.gz?v=@(GlobalConfig.GetAppVersion())" />
    <script src="/Modules/Core/js/yourQuestion.min.js.gz?v=@(GlobalConfig.GetAppVersion())"></script>
}

<div class="myContainer">
    <section class="globalSection">
        <div style="@(paddingExter)"  id="ppfHolder"></div>
    </section>
</div>
<div id="yourQuestion" class="myContainer"></div>

<script>
    @{
        if (ViewBag.exteraParameters != null)
        {
            ViewContext.Writer.Write("var exteraModelParams = JSON.parse('" + Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.exteraParameters) + "');");
        }
    }
    document.addEventListener("DOMContentLoaded", function(event) {
            loadJsonConfig('@ViewBag.ConfigRoute', 'ppfHolder');
    });
    $('#yourQuestion').loadYourQuestionList('/Question/ProposalFormYourQuestion/GetList?fid=@(ViewBag.fid)');
</script>