@{
    Layout = "_WebLayout";
}

<div class="myContainer">
    <section class="inquirySection animationOnScroll animationOnScrollOpacity">
        <div class="inquirySectionTab">
            <div class="inquirySectionTabHeaderItems">
                <div data-json-url="/ProposalFormInquiries/CarThirdPartyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner ">
                        <img data-src="/Modules/Assets/MainPage/salecIcon.png" width="64" height="64" title="ای کن استعلام ثالث" />
                        <div> شخص ثالث</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/CarBodyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/badane.png" width="64" height="64" title="ای کن استعلام بدنه" />
                        <div> بدنه</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/FireInsurance/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/atashsozi.png" width="64" height="64" title="ای کن استعلام آتش سوزی" />
                        <div>آتش سوزی</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/CarThirdPartyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/salecIcon.png" width="64" height="64" title="ای کن استعلام ثالث" />
                        <div> شخص ثالث</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/CarBodyInquiry/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/badane.png" width="64" height="64" title="ای کن استعلام بدنه" />
                        <div>بدنه</div>
                    </div>
                </div>
                <div data-json-url="/ProposalFormInquiries/FireInsurance/GetJsonConfig" class="inquirySectionTabHeaderItem">
                    <div class="inquirySectionTabHeaderItemInner">
                        <img data-src="/Modules/Assets/MainPage/atashsozi.png" width="64" height="64" title="ای کن استعلام آتش سوزی" />
                        <div>سایر بیمه نامه ها</div>
                    </div>
                </div>
            </div>

            <div class="inquirySectionTabBodyItems">
                <div class="inquirySectionTabBodyItem ">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
                <div class="inquirySectionTabBodyItem">
                </div>
            </div>
        </div>
    </section>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function(event) {
        $('.tabCtrl').initTabCtrl();
        $('.yourQuestion .yourQuestionItem').initMyQuestionItem();
        $('.inquirySectionTab').initInquiryTab();
        $('#holderBlogs').bindBlog('/Blog/Blog/GetMainBlog');
    });
</script>