@inject Oje.AccountService.Interfaces.ISiteSettingService SiteSettingService;
@{
    Layout = SiteSettingService.GetSiteSetting()?.Layout;
}

@section Styles {
<link rel="stylesheet" asp-append-version="true" href="/Modules/Core/css/blogs.min.css.gz" />
}

<script>
    var keyWordId = '@ViewBag.keyWordId';
    var catId = '@ViewBag.catId';
</script>

<div id="blogContainer" class="myContainer">
    <section class="blogSearch">
        <h1 class="blogPageTitle">@(ViewBag.Title)</h1>
        <div class="holderCats">
            <a style="visibility:hidden" class="blogCatButton mainBtn  ">اخبار</a>
        </div>
        <div class="holderBlogSortAndType">
            <div class="BlogSortAndTypeSection">
                <div id="holderDropdownSort" class="BlogSortAndTypeItem"></div>
                <div id="holderDropdownType" class="BlogSortAndTypeItem"></div>
            </div>
            <div class="BlogSortAndTypeSection">
                <div class="blogSearchSummery" style="-webkit-flex-grow: 1; flex-grow: 1;"><strong>0</strong> مطلب موجود می باشد.</div>
            </div>
        </div>
    </section>
    <section class="blogItemsSection">
        <div class="holderBlogItems">
            <div class="BlogItemLoader"></div>
            <div class="BlogItemLoader"></div>
            <div class="BlogItemLoader"></div>
            <div class="BlogItemLoader"></div>
            <div class="BlogItemLoader"></div>
            <div class="BlogItemLoader"></div>
            <div class="BlogItemLoader"></div>
            <div class="BlogItemLoader"></div>
        </div>
        <div id="scrollDtectorForBlog"></div>
        <nav class="holderPagination"></nav>
        <button class="loadMoreButton mainBtn">نمایش بیشتر</button>
    </section>
</div>
@section FooterR {
<script asp-append-version="true" src="/Modules/Core/js/blogs.min.js.gz"></script>
}

<script>
    document.addEventListener("DOMContentLoaded", function(event) {

    });
</script>