@inject Oje.AccountService.Interfaces.ISiteSettingService SiteSettingService;
@{
    Layout = SiteSettingService.GetSiteSetting()?.Layout;
    if (ViewBag.ignoreMaster == true)
    {
        Layout = null;
    }
}

@{
    if (Layout == "_WebLayout")
    {
        ViewContext.Writer.Write("<div class='myContainer' ><section class='globalSection'>");
    }
}

<div id="holderTenderC" class="MainHolder"></div>
<script>
    @{
        if (ViewBag.exteraParameters != null)
        {
            ViewContext.Writer.Write("var exteraModelParams = JSON.parse('" + Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.exteraParameters) + "');");
        }
    }
        loadJsonConfig('@ViewBag.ConfigRoute', $('#holderTenderC'));
</script>


@{
    if (Layout == "_WebLayout")
    {
        ViewContext.Writer.Write("</section></div>");
    }
}

<script>
    function loadJsonForPPF(curId) {
        if (curId) {
            var curName = $('#' + curId).attr('name');
            if (curName && curName.indexOf('[') > -1) {
                var curIndex = Number.parseInt(curName.split('[')[1].split(']')[0]);
                var holderQuiry = $('#' + curId).closest('.MultiRowInputRow');
                if (holderQuiry.length > 0) {
                    var formDataJson = convertFormDataToJson(getFormData(holderQuiry.closest('.myCtrl')));
                    console.log(formDataJson);
                    var quirySelector = holderQuiry.find('.holderDynamicSW');
                    if (quirySelector.length > 0 && formDataJson && formDataJson.tenderInsurance[curIndex].fid && formDataJson.tenderInsurance[curIndex].needConsultation) {
                        loadJsonConfig('/Tender/GetPPFJsonConfig?ppfid=' + formDataJson.tenderInsurance[curIndex].fid + '&needConsultation=' + formDataJson.tenderInsurance[curIndex].needConsultation, quirySelector);
                    }
                }
            }
        }
    }
</script>