
.blogSection {
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 40px 5px;
    padding: 10px;
}

.blogSectionEntity {
    display: flex;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    width: 65%;
    margin-left: auto;
    margin-right: auto;
}

    .blogSectionEntity > div {
        width: calc(50% - 15px);
    }

.blogSectionMainBlog {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
}

.blogSectionMainBlogImg {
    display: inline-block;
    margin-bottom: 8px;
}

    .blogSectionMainBlogImg > img {
        width: 100%;
        height: auto;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

.blogSectionMainBlogTitle {
    display: block;
    font-size: 1.3em;
    font-weight: bold;
    color: #787c7d;
    margin-bottom: 8px;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
}

.blogSectionMainBlogDescription {
    color: #787c7d;
    text-align: justify;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
    max-height: 44px;
    overflow: hidden;
    display: inline-block;
}

    .blogSectionMainBlogDescription:after {
        content: '...';
    }

.blogSectionSubBlog {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-justify-content: space-between;
    justify-content: space-between;
}

.blogSectionSubBlogItem {
    display: flex;
    -ms-flex-direction: row;
    -webkit-flex-direction: row;
    flex-direction: row;
}

.blogSectionSubBlogItemImg {
    flex: 135px;
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    display: inline-block;
    position: relative;
    overflow: hidden;
    width: 135px;
    height: 90px;
}

    .blogSectionSubBlogItemImg:after {
        content: ' ';
        position: absolute;
        background-color: rgba(0,119,219,0.8);
        left: 50%;
        top: 50%;
        width: 0px;
        height: 0px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .blogSectionSubBlogItemImg > i:before {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 50%;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-right: 11px solid white;
        z-index: 1;
        margin-left: -21px;
        margin-top: -11px;
        opacity: 0;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .blogSectionSubBlogItemImg > i:after {
        content: ' ';
        position: absolute;
        height: 8px;
        width: 20px;
        background-color: white;
        z-index: 1;
        top: 50%;
        right: 50%;
        margin-right: -10px;
        margin-top: -4px;
        opacity: 0;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .blogSectionSubBlogItemImg:hover:after {
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }

    .blogSectionSubBlogItemImg:hover i:before, .blogSectionSubBlogItemImg:hover i:after {
        opacity: 1;
    }

    .blogSectionSubBlogItemImg > img {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        width: 135px;
        height: auto;
    }

.blogSectionSubBlogItemDescription {
    text-align: justify;
    height: 44px;
    overflow: hidden;
    color: #787c7d;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
}

.blogSectionSubBlogItemTitle {
    padding-bottom: 10px;
    font-weight: bold;
    font-size: 1.2em;
    color: #787c7d;
    -webkit-text-decoration: none !important;
    text-decoration: none !important;
}

    .blogSectionSubBlogItemTitle:hover, .blogSectionSubBlogItemDescription:hover, .blogSectionMainBlogTitle:hover, .blogSectionMainBlogDescription:hover {
        color: #0077db;
    }

.blogSectionSubBlogItemTitleAndDes {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    padding-right: 10px;
}

.blogSectionHolderButton {
    text-align: center;
    padding-top: 20px;
}


.blogSectionMainBlogImg {
    position: relative;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
}

    .blogSectionMainBlogImg:after {
        content: ' ';
        position: absolute;
        background-color: rgba(0,119,219,0.8);
        left: 50%;
        top: 50%;
        width: 0px;
        height: 0px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .blogSectionMainBlogImg > i:before {
        content: ' ';
        position: absolute;
        left: 50%;
        top: 50%;
        border-top: 11px solid transparent;
        border-bottom: 11px solid transparent;
        border-right: 11px solid white;
        z-index: 1;
        margin-left: -21px;
        margin-top: -11px;
        opacity: 0;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .blogSectionMainBlogImg > i:after {
        content: ' ';
        position: absolute;
        height: 8px;
        width: 20px;
        background-color: white;
        z-index: 1;
        top: 50%;
        right: 50%;
        margin-right: -10px;
        margin-top: -4px;
        opacity: 0;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .blogSectionMainBlogImg:hover:after {
        width: 100%;
        height: 100%;
        left: 0px;
        top: 0px;
    }

    .blogSectionMainBlogImg:hover i:before, .blogSectionMainBlogImg:hover i:after {
        opacity: 1;
    }

    .blogSectionMainBlogImg > img {
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

@media (max-width: 1500px) {
    .blogSectionEntity {
        width: 100%;
    }
}

@media (max-width: 800px) {
    .blogSectionEntity {
        -ms-flex-direction: column;
        -webkit-flex-direction: column;
        flex-direction: column;
    }

    .blogSectionMainBlogImg > img {
        width: 135px;
        height: auto;
    }

    .blogSectionMainBlog {
        -ms-flex-direction: row;
        -webkit-flex-direction: row;
        flex-direction: row;
    }

    .blogSectionMainBlogTitle {
        font-size: 1.2em;
    }

    .blogSectionMainBlogTitleAndDes {
        padding-right: 10px;
    }

    .blogSectionSubBlogItem {
        background-color: #eeeeee;
        margin-bottom: 10px;
        padding: 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .blogSectionMainBlog {
        background-color: #eeeeee;
        margin-bottom: 10px;
        padding: 10px;
        -moz-border-radius: 3px;
        -webkit-border-radius: 3px;
        border-radius: 3px;
    }

    .blogSectionEntity > div {
        width: 100%;
    }

    .blogSectionSubBlogItemImg {
        -webkit-flex-grow: 0;
        flex-grow: 0;
    }

    .blogSectionSubBlogItem:nth-child(2n+1) {
        -ms-flex-direction: row-reverse;
        -webkit-flex-direction: row-reverse;
        flex-direction: row-reverse;
    }

        .blogSectionSubBlogItem:nth-child(2n+1) .blogSectionSubBlogItemTitleAndDes {
            padding-right: 0px;
            padding-left: 10px;
        }
}

@media (max-width: 430px) {
    .blogSectionMainBlogImg > img, .blogSectionSubBlogItemImg > img {
        width: 135px;
        height: auto;
    }

    .blogSectionMainBlogTitle, .blogSectionSubBlogItemTitle {
        font-size: 1em;
    }

    .blogSectionMainBlogDescription, .blogSectionSubBlogItemDescription {
        font-size: 0.9em;
    }

    .blogSectionSubBlogItemTitle {
        padding-bottom: 4px;
    }

    .blogSectionMainBlogTitle {
        margin-bottom: 4px;
    }
    .blogSectionMainBlogDescription {
        height:40px;
    }
    .blogSectionSubBlogItemDescription{
        height:40px;
    }
}
