
.inquirySection {
    background-color: white;
    -moz-border-radius: 4px;
    -webkit-border-radius: 4px;
    border-radius: 4px;
    margin: 40px 5px;
    background-color: white;
    display: flex;
    padding: 5px;
}

.inquirySectionTab {
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

.inquirySectionTabHeaderItems {
    display: flex;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
    overflow: hidden;
}

.inquirySectionTabHeaderItem {
    -webkit-flex-grow: 1;
    flex-grow: 1;
    text-align: center;
}

.inquirySectionTabHeaderItemInner {
    display: inline-block;
    cursor: pointer;
    position: relative;
}

    .inquirySectionTabHeaderItemInner:after {
        content: ' ';
        position: absolute;
        left: -15px;
        right: -15px;
        height: 10px;
        background-color: transparent;
        bottom: -23px;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;
        border-radius: 10px;
    }

    .inquirySectionTabHeaderItemInner > div {
        font-weight: bold;
        color: silver;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .inquirySectionTabHeaderItemInner > img {
        opacity: 0.5;
        -moz-transition: 0.3s;
        -o-transition: 0.3s;
        -webkit-transition: 0.3s;
        transition: 0.3s;
    }

    .inquirySectionTabHeaderItemInner:hover > div, .inquirySectionTabHeaderItemActive > div {
        color: black;
    }

    .inquirySectionTabHeaderItemInner:hover > img, .inquirySectionTabHeaderItemActive > img {
        opacity: 1;
    }

.inquirySectionTabBodyItems {
    display: flex;
}

.inquirySectionTabBodyItem {
    display: none;
    padding: 10px;
}

.inquirySectionTabHeaderItemActive {
    cursor: default;
}

    .inquirySectionTabHeaderItemActive > div {
        color: #0077db !important;
    }

.inquirySectionTabHeaderItemActive {
    display: block;
    -webkit-flex-grow: 1;
    flex-grow: 1;
}

    .inquirySectionTabHeaderItemActive:after {
        background-color: #0077db
    }

@media (max-width: 650px) {
    .inquirySection {
        padding: 0px;
    }

    .inquirySectionTabHeaderItems {
        -ms-flex-wrap: wrap;
        -webkit-flex-wrap: wrap;
        flex-wrap: wrap;
        padding-bottom: 0px;
        border-bottom: none;
    }

    .inquirySectionTabHeaderItem {
        width: 50%;
        border-left: 1px solid #e2e6e9;
        border-bottom: 1px solid #e2e6e9;
        text-align: right;
        padding-top: 10px;
        padding-bottom: 10px;
    }

        .inquirySectionTabHeaderItem:nth-child(even) {
            border-left: none;
        }

    .inquirySectionTabHeaderItemActive:after {
        display: none;
    }

    .inquirySectionTabHeaderItemInner {
        display: flex;
        justify-content: center;
        align-items: center;
        padding-right: 10px;
        height: 100%;
    }

        .inquirySectionTabHeaderItemInner > div {
            -webkit-flex-grow: 1;
            flex-grow: 1;
            padding-right: 10px;
            font-size: 0.9em;
        }

        .inquirySectionTabHeaderItemInner > img {
            width: 32px;
            height: 32px;
        }
    .removeInquirySectionMarginTop .inquirySectionTabHeaderItem {
        width:auto;
        border:none !important;
    }
    .removeInquirySectionMarginTop .inquirySectionTabHeaderItemInner > div {
        display: none;
    }

    .inquirySectionTabBodyItems {
        width: 100vw;
        height: 100vh;
        position: fixed;
        right: -100vw;
        background-color: white;
        z-index: 999;
        top: 0px;
        -moz-transition: 0.4s;
        -o-transition: 0.4s;
        -webkit-transition: 0.4s;
        transition: 0.4s;
    }

    .inquirySectionTabBodyItemsActive {
        right: 0px;
    }

    .inquirySectionTabBodyItems #searchPanel > .myPanelTitle {
        position: relative;
        padding-right: 20px !important;
    }

        .inquirySectionTabBodyItems #searchPanel > .myPanelTitle:before, .inquirySectionTabBodyItems #searchPanel > .myPanelTitle:after {
            position: absolute;
            content: ' ';
            right: 3px;
            top: 10px;
            border-left: 10px solid black;
            border-top: 10px solid transparent;
            border-bottom: 10px solid transparent;
        }

        .inquirySectionTabBodyItems #searchPanel > .myPanelTitle:after {
            border-left-color: white;
            right: 4px;
        }
}
