@{ 
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Error - BaseCommerce</title>
</head>
<body>
    <div style="text-align:center;padding-top:30vh;font-size:40px;color:red;">@ViewBag.Exception</div>
</body>
</html>
