html {
    height: 100%;
    padding:0
}
body {
    height: 100%;
    margin:0;
}
.wrapper {
    min-height: 100%;
    background: url('/Modules/Images/bg-intro.jpg');
    background-size: 100% auto;
    display:flex;
}
.container {
    margin-left: 20%;
    margin-right: 20%;
    display:flex;
}
.rightColumn {
    width: 274px;
    background-color: #0d2241;
    -webkit-justify-content: space-evenly;
    justify-content: space-evenly;
    display: flex;
    -ms-flex-direction: column;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    align-items: center;
}
.rightColumnItem {

}
.logo1 img {
    width: 100px;
    height: 100px;
}
.logo2 img {
    
}
.bottomSection{

}
.content {
    -webkit-flex-grow: 1;
    flex-grow: 1;
}
.footer {

}