@using Oje.Infrastructure
@inject Oje.AccountService.Interfaces.ISiteSettingService SiteSettingService;
@{
    Layout = SiteSettingService.GetSiteSetting()?.Layout;
}

<div class="myContainer">
    <section class="globalSection">
        <div id="ppfHolder">
        </div>
    </section>

</div>

<script>
    @{
        if (ViewBag.exteraParameters != null)
        {
            ViewContext.Writer.Write("var exteraModelParams = JSON.parse('" + Newtonsoft.Json.JsonConvert.SerializeObject(ViewBag.exteraParameters) + "');");
        }
    }
    document.addEventListener("DOMContentLoaded", function(event) {
            loadJsonConfig('@ViewBag.ConfigRoute', 'ppfHolder');
    });
</script>